@import '../../aui_variables';


// Breakpoints
// -------------------------
$bp-xsmall : 600px;
$bp-small : 800px;
$bp-medium : 1000px;
$bp-large : 1199px;

// Breakpoint height
$bp-height-xsmall : 600px;
$bp-height-small : 800px;
$bp-height-medium : 1000px;
$bp-height-large : 1400px;


// Colors - contansts
// -------------------------


// B&W
$is-white:      #fff;
$is-black: 		  #000;

// Blues
$is-blue:       #327cb4;
//$is-blue-alt:   #0088bd;
$is-blue-dark:  #075d80;
$is-bluematte:	#56a0d9;

// Reds
$is-red:        #bf3434;
$is-burntumber: #8b2626;

// Greens
$is-green:      #008c4d;
$is-crete:      #548332;
$is-apple:      #5e9237;
$is-woodland:   #426627;
$is-frost:      #f0faeb;

// Yellows
$is-earlsgreen:     #bfb331;
$is-buddhagold:     #d7a702;
$is-luxorgold:      #948b2a;
$is-camouflage:     #444011;
$is-pirategold:     #af8602;
$is-corn:           #e2b002;
$is-horsesneck:     #5e4a11;
$is-half-spanishwhite: #fef6db;

// Gray/white with color tinted
$is-linkwater:  #eef5fa;
$is-vistawhite: #fcf7f7;
$is-geyser:     #cad5de;
$is-loblolly:   #bdc9ce;
$is-caspar:     #a9bdcf;
$is-boticelli:  #d5e3ee;

// Grayscale
$is-mineshaft:	#222;
$is-tundora:		#444;
$is-emperor:		#555;
$is-graydove:		#666;
$is-boulder:		#777;
$is-graydusty:	#999;
$is-cloudy:     #aca59f;
$is-cloud:      #c7c4bf;
$is-silver:		  #ccc;
$is-alto:		    #ddd;
$is-graylight:	#ececec;
$is-gallery:		#eee;
$is-athensgray: #f0f1f5;
$is-concrete:   #f2f2f2;
$is-alabaster:  #f7f7f7;

// Colors
// -------------------------
$bg:					$is-white;
$text-color:			$textColor; //From _aui_variables

$heading-color:			$is-mineshaft;
$heading-h1-color:		$is-blue;

$link-color:			$linkColor; //From _aui_variables
$link-hover-color:		$linkColorHover; //From _aui_variables

$top-bar-bg:			$is-mineshaft;
$top-bar-color:			$is-white;

$token-bg: 				$is-bluematte;
$token-color: 			$is-white;
$token-icon-color: 		$is-blue;

$color-negative:			$is-white;
$heading-color-negative:	$is-white;

$link-color-negative:			$is-white;
$link-color-hover-negative:		$is-graydusty;
$link-color-active-negative:	$is-graydusty;

$quote-author-color: 		$is-graydove;

$marked-text-bg: 				$is-black;
$marked-text-color: 			$is-white;

// Fonts
// -------------------------
$base-font-size: 	$baseFontSize; //From _aui_variables
$base-line-height:	$baseLineHeight; //From _aui_variables
$base-font-weight:	400;

// Selector, Size, Font Weight, Letter Spacing
$font-list: (
  h1	32px 	400	normal	$heading-h1-color,
  h2	26px	400	normal	$heading-color,
  h3	22px  400	normal	$heading-color,
  h4	20px	400	normal	$heading-color,
  h5	20px  400	normal	$heading-color,
  h6	20px 	400	normal	$heading-color
);

$top-bar-font-size: 14px;

$font-weight-normal: 		normal;
$font-weight-bold:			bold;
$font-weight-light: 		200;
$font-weight-ultralight: 	100;

// Padding and sizes
// -------------------------

$container-max-width: 1200px;

$default-border-radius:		3px; //Compass named default variable.

// Content (font-awesome)
// -------------------------

$content-play: "\f04b";
$content-chevron-right: "\f054";

// Shadow
// --------
$default-box-shadow-color: $is-graydusty; // The default color for box shadows
$default-box-shadow-h-offset: 0px; // The default horizontal offset. Positive is to the right.
$default-box-shadow-v-offset: 0px; // The default vertical offset. Positive is down.
$default-box-shadow-blur: 5px; // The default blur length.
$default-box-shadow-spread: false; // The default spread length.
$default-box-shadow-inset: false; // The default shadow inset: inset or false (for standard shadow).

// Transitions
// -------------------------

$default-transition-time: 0.3s;

// Other
// -------------------------
$grid-background-baseline-color: rgba(255, 0, 0, 0.5); //DEBUG
