//
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.aui body {
	background: $bg;
	color: $text-color;
	//font-family: Arial,Verdana,Helvetica,sans-serif;
  //font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
  line-height: $base-line-height;
	margin: 0;
	padding: 0;

  overflow-x: hidden; //needed to make edgetoedge work

	&.font-large {
		font-size: 18px;
	}

	&.font-xlarge {
		font-size: 20px;
	}

}
