.hero-carousel-wrap {
  background: $is-blue;
  border-bottom: 1px solid $is-blue;
  color: $is-white;
  //overflow-x: hidden; //needed to make edgetoedge work
  @extend %edgetoedge;

  margin-top: -3em; // Same as body
  padding-top: 3em;

  margin-bottom: -19px; // offset journal-content-article margin bottom (15px) + portlet-borderless-bar-padding-top/bottom (2+2)
  padding-bottom: 19px;

  .hero-carousel-ctn {
    padding: 0;
    position: relative;
  }

  .owl-carousel {

    .owl-controls {

      .owl-dots {
        .owl-dot {
          span {
            background: transparent;
            border: 1px solid $is-tundora;
            height: 8px;
            width: 8px;
            @include border-radius(50%);
          }
          &.active {
            span {
              background: $is-tundora;
            }
          }
        }
      }

      .owl-nav {

        div {
          background: transparent;
          border: none;
          color: $is-tundora;
          font-size: 2.5em;
          position: absolute;
          top:40%;
          @include border-radius(0);
          @include opacity(0.8);

          &:hover {
            background: transparent;
            @include opacity(1.0);
          }

          &.owl-prev {
            left: 0;
          }

          &.owl-next {
            right: 0;
          }

          .label {
            background: transparent;
            font-size: 0;
            height: 0;
            width: 0;
            text-indent: -9999em;
          }

        }
      }

    }

  }

  .slide {
    padding: 20px 100px 10px 100px;
    padding: 0;

    height: 300px;
    overflow: hidden;

    img {
      width: 100%;
    }


    // .image-ctn {
    //   float: left;
    //   width: 44%;
    //
    //   img {
    //     border: 2px solid $is-white;
    //     max-height: 220px;
    //     @include border-radius(3px);
    //   }
    // }
    //
    // .content-ctn {
    //   float: right;
    //   width: 44%;
    // }

  }

  h1,
  h2,
  h3,
  p,
  a {
    color: $is-tundora;
  }

  .link-btn {
    background: transparent;
    border-color: $is-tundora;
    padding: 0.6em 2.0em;

    &:hover {
      background: $is-tundora;
      border-color: $is-tundora;
      color: $is-white;

    }
  }




}
