.hero-carousel-ctn {

  margin-bottom: -20px - 19px - 30px; // offset portlet-boundary journal-content-article margin bottom (15px) + portlet-borderless-bar-padding-top/bottom (2+2) + content 30px
  padding: 0;
  position: relative;


  .owl-carousel {

    .owl-controls {

      margin: 0;
      padding: 0;

      .owl-dots {
        background: rgba($is-white, 0.5);
        bottom: 5px;
        left: 50%;
        line-height: 1;
        margin: 0;
        padding: 0;
        position: absolute;

        .owl-dot {
          span {
            background: transparent;
            border: 1px solid $is-tundora;
            height: 8px;
            width: 8px;
            @include border-radius(50%);
          }
          &.active {
            span {
              background: $is-tundora;
            }
          }
        }
      }

      .owl-nav {

        div {
          background: transparent;
          border: none;
          color: $is-tundora;
          font-size: 2.5em;
          position: absolute;
          top:40%;
          @include border-radius(0);
          @include opacity(0.8);

          &:hover {
            background: transparent;
            @include opacity(1.0);
          }

          &.owl-prev {
            left: 50px;
          }

          &.owl-next {
            right: 50px;
          }

          .label {
            background: transparent;
            font-size: 0;
            height: 0;
            width: 0;
            text-indent: -9999em;
          }

        }
      }

    }

  }

  .slide {

    // Use media query with height to control height
    max-height: 300px;

    @include height-small {
      max-height: 350px;
    }

    @include height-medium {
      max-height: 400px;
    }

    @include height-large {
      max-height: 500px;
    }

    overflow: hidden;

    margin: 0;
    padding: 0;


    img {
      vertical-align: middle;
      z-index: 1;
      width: 100%;
    }

    .content-area-wrap {

      position: absolute;
      bottom: 30px;
      width: 100%;
      z-index: 2;

      @include height-small {
        bottom: 50px;
      }

      .content-area {
        background: rgba($is-white, 0.8);
        float: right;
        max-width: 400px;
        padding: 20px;

        @include height-small {
          padding: 40px;
        }

        @include border-radius(3px);

        h2 {
          color: $is-blue;
          font-size: 1.8em;
          margin: 0 0 0.5em 0;
        }

        p {
          color: $is-blue;
          font-size: 1.1em;
          margin: 0 0 0.5 0;
        }

        .link-btn {
          background: $is-blue;
          border-color: $is-blue;
          color: $is-white;
          padding: 0.6em 2.0em;

          &:hover {
            background: shade($is-blue, 10%);
            border-color: shade($is-blue, 10%);
            color: $is-white;

          }
        }

      }

    }

  }

}


// Edit view
.page-edit.controls-visible {
  .hero-carousel-ctn {
    margin-bottom: 0;
  }
}
