.idea-filters-wrap {
    width: 96.65%;

  .idea-filters-toolbar {
      background: $is-linkwater;
      border: 1px solid darken($is-linkwater, 5%);
      @include border-radius(3px);

      list-style: none;
      margin: 0 0 10px 0;
      padding: 10px;
      position: relative;

      .filter-item {
          background: transparent;
          border-right: 1px solid darken($is-linkwater, 5%);
          float: left;
          padding-right: 15px;
          margin-right: 15px;

          &:last-child,
          &.last {
            border-right: none;
          }

          .filter-item-label {
              color: $is-blue-alt;
              float: left;
              line-height: 20px;
              margin-right: 5px;
              font-weight: bold;
          }

          .filter-item-element {
              float: left;
          }

      }

  }

}

.js {
  .idea-filters {

    select.select-to-dropdown {
        visibility: hidden;
    }

    input[type="submit"] {
        display: none;
    }

  }
}


.ie7 {
  .idea-filters-wrap {
      width: 95.65%;
  }
}

.ie7,
.ie8 {
  .idea-filters {
    position: relative;
    z-index: 3000;
  }
}
