.idea-msg-info {

  h2 {
      color: $is-mineshaft;
      font-size: 1.6em;
      margin: 0 0 0.4em 0;
  }

  h3 {
      color: $is-mineshaft;
      font-size: 1.2em;
      margin: 0 0 0.4em 0;
  }

}
