.info-tiles-wrap {
  background: $is-linkwater;
  overflow-x: hidden; //needed to make edgetoedge work
  //@extend %edgetoedge;


  @include small {
    overflow-x: hidden;//needed to make edgetoedge work

    // edgetoedge seems not to work properly when included in macro.
    // adding settings manually instead
    margin-left: -9999px;
    padding-left: 9999px;
    margin-right: -9999px;
    padding-right: 9999px;

  }

  .info-tiles-ctn {
    padding: 30px 20px;
  }

  .tile {
    color: $is-blue;
    padding: 20px 0;
    text-align: center;

    &[class*="span"] {
      margin-left: percentage(2.5641/2/100);
      margin-right: percentage(2.5641/2/100);

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        border-right: 0;
        margin-right: 0;
      }

      @include small {
        border-right: 1px solid darken($is-linkwater, 10);
      }

    }

    h2 {
      color: $is-blue;
      margin: 0 0 0.5em 0;
    }
  }


}
