.info-box {
  background: #fff;
  border: 1px solid #cad5de;
  @include border-radius(6px);
  @include box-shadow(0px 1px 4px 0px #cccccc);
	margin: 0;
	padding: 12px;
	position: relative;

  h1.title {
    margin-top: 0;
  }

  h2.title {
    font-size: 1.6em;
    margin-top: 0;
  }

  h3 {
    color: #444;
  }

  img.image {
    float: right;
    padding: 0 0 5px 10px;
  }

  .link-wrap {
    text-align: right;

    a {
      color: #2f72a9;
      text-decoration: none;
    }
  }

}
