.info-tiles-wrap {
  background: transparent;

  @include small {
    background: $is-linkwater;
  }


  @include small {
    overflow-x: hidden;//needed to make edgetoedge work

    // edgetoedge seems not to work properly when included in macro.
    // adding settings manually instead
    margin-left: -9999px;
    padding-left: 9999px;
    margin-right: -9999px;
    padding-right: 9999px;

  }

  .info-tiles-ctn {
    padding: 0;

    @include small {
      padding: 30px 20px;
    }
  }

  .tile {

    &[class*="span"] {
      background: $is-linkwater;
      color: $is-blue;
      margin: 0 0 1em 0;
      padding: 30px 20px;
      text-align: center;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        border-right: 0;
        margin-bottom: 0;
        margin-right: 0;
      }

      @include small {
        background: transparent;
        border-right: 1px solid darken($is-linkwater, 10);
        margin-bottom: 0;
        margin-left: percentage(2.5641/2/100);
        margin-right: percentage(2.5641/2/100);
        padding: 20px 0;
      }

    }

    h2 {
      color: $is-blue;
      margin: 0 0 0.5em 0;
    }
  }


}
