.navigation-wrapper {
  background: $is-blue;
  border: 1px solid $is-blue-dark;
  border-width: 1px 0 1px 0;

  #navigation {

    background: transparent;
    display: none;
    position: relative;
    margin: 0;
    padding: 0;

    @include small {
      display: block;
    }


    ul.nav-list {

      background: none;
      cursor: pointer;
      display: block;
      list-style: none;
      margin: 0 auto;
      padding: 1px 2px;
      position: relative;
      z-index: 10;

      @include pie-clearfix();

      @include small {
        border-left: 1px solid $is-linkwater;
        border-left-color: rgba($is-linkwater, 0.5);
      }


      li {
        background: transparent;
        border: none;
        display: block;
        line-height: 1.0;
        position: relative;

        @include small {
          border-right: 1px solid $is-linkwater;
          border-right-color: rgba($is-linkwater, 0.5);
          float: left;
          padding: 0;
          zoom: 1;
        }

        a {
          background: transparent;
          color: $is-white;
          display: block;
          font-family: Arial, Verdana, Helvetica, sans-serif;
          font-size: 1.0em;
          font-weight: normal;
          line-height: 1.0;
          margin: 0;
          padding: 0;
          text-decoration: none;
          text-shadow: none;

          @include small {
            border-bottom: none;
          }

          span {
          	display: block;
          	min-height: 16px;
          	padding: 10px 14px;

            transition: all 0.4s ease;
          }
        }

        // Hover
        @include small {
          &.hover,
          &:hover,
          &.selected.hover,
          &.selected:hover {
            > a {
              background: shade($is-blue, 10);
              color: $is-white;
            }

            > .nav-list-sub-wrap {
              display: block;
            }

          }
        }

        // Selected
        &.selected {

          border-bottom: none;

          > a {
            border-bottom: none;
          }

          > a,
          &.hover > a,
          &:hover > a {
            background: $is-green;
            color: $is-white;
          }

        }

        @include small {

          &:first-child {
            > a {
              > span {
               background: url(../images/theme/navigation/nav-home-icon.png) 50% 50% no-repeat;
               padding-left: 30px;
               font-size: 0;
               text-indent: -9999em;
              }
            }
          }

          &.add-idea {
            float: right;

            a {
              background: $is-linkwater;
              color: $is-blue;
              font-weight: bold;

              span {
                background: transparent url(../images/theme/icons/icon-add-24.png) 10px 50% no-repeat;
                min-height: 16px;
                padding-left: 32px;
              }
            }

            &.hover,
            &:hover,
            &.selected.hover,
            &.selected:hover {
              > a {
                background: shade($is-linkwater, 5);
              }
          }
        }

          &.login,
          &.logout {
            display: none;
          }


        }


        // Dropdown
        &.selected {
          .nav-list-sub-wrap {
            display: block;

            @include small {
              display: none;
            }
          }
        }

        .nav-list-sub-wrap {

          ul {
            background: $is-crete;
            border: none;
            list-style: none;
            margin: 0;
            padding: 0 0 0 10px;
            position: relative;

            li {
              border-bottom: 1px solid $is-alto;
              display: block;
              float: none;
              margin: 0;
              padding: 0;

              a {
                background: $is-athensgray url(../images/theme/navigation/nav-bg-gray.png) top left repeat-x;
                border-bottom: 1px solid $is-loblolly;
                color: $is-blue;
                display: block;
                font-size: 1.0em;
                margin: 0;
                padding: 1em;
                text-decoration: none;

                &:hover {
                  background: $is-athensgray url(../images/theme/navigation/nav-bg-gray.png) top left repeat-x;
                  color: $is-blue;
                }

              }
            }
          }

          @include small {
            background: transparent url(../images/theme/navigation/navigation-sub-bg-arrow.png) top left no-repeat;
            display: none;
            left: 0;
            padding: 11px 0 0 0;
            position: absolute;
            top: 100%;
            width: 200px;
            z-index: 2598;

            ul {
              background: $is-linkwater;
              border: 1px solid shade($is-linkwater, 10%);
              border-top: 0px;
              margin: 0;
              padding: 0;
              z-index: 2598;

              li {
                background: $is-linkwater;
                border-bottom: 1px solid shade($is-linkwater, 10%);

                &.last {
                  border-bottom: 0;
                }

                a {
                  background: transparent;
                  border-bottom: 0;
                  color: $is-blue;

                  &:hover {
                    background: $is-blue;
                    color: $is-white;
                  }
                }


              }

            }

          }

        }


      }

    }

  }

  &.navigation-wrapper-scrolled {
    //border-bottom: 10px solid $is-white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;

    #navigation {
      ul.nav-list {
        li {
          a {
            span {
              padding: 16px 20px;
            }
          }
          &.add-idea {
            a {
              span {
                padding-left: 35px;
              }
            }
          }
        }
      }
    }

  }

}









&.ie7, &.ie8 {

  .top-wrap {
    display: block;
  }

  .navigation-wrapper {

    #navigation {
      display: block;
      margin-bottom: 3em;

      ul.nav-list {
        background: $is-blue url(../images/theme/navigation/navigation-bg-normal.png) top left repeat-x;

        li {
          background: url(../images/theme/navigation/navigation-separator.png) top right repeat-y;
          border-bottom: 0;
          float: left;
          padding: 0 2px 0 0;
          zoom: 1;

          a {
            border-bottom: 0;
            display: inline-block;
            display: block;
          }

          .nav-list-sub-wrap {
            background: transparent url(../images/theme/navigation/navigation-sub-bg-arrow.png) top left no-repeat;
            display: none;
            left: 0;
            padding: 11px 0 0 0;
            position: absolute;
            top: 100%;
            width: 200px;
            z-index: 2598;

            ul {
              background: $is-athensgray;
              border: 1px solid $is-loblolly;
              border-top: 0;
              margin: 0;
              padding: 0;
              z-index: 2598;

              li {
                background: $is-athensgray;
                border-bottom: 1px solid $is-alto;
              }
            }
          }
        }

        li.add-idea, li.add-idea:hover {
          float: right;

          a {
            background: $is-concrete url(../images/theme/navigation/navigation-bg-highlight.png) 0 0 repeat-x;
            color: $is-blue;
            font-weight: bold;
          }
        }

        li.login, li.logout {
          display: none;
        }

        li:hover>a {
          background: tint($is-blue, 20%) url(../images/theme/navigation/navigation-bg-hover.png) top left repeat-x;
          color: $is-white;
        }

        li:hover>.nav-list-sub-wrap {
          display: block;
        }
      }
    }
  }

  #banner #navigationTrigger {
    display: none;
  }
}







// Mobile navigation toggle navigation
.show-navigation {
  #navigation {
    display: block;
  }
}
