.persons-wrap {
	> h2 {
		margin: 0 0 10px 0;
	}
}

ul.persons-list {
	list-style: none;
	margin: 0;
	padding: 0;

  li {
    display: -moz-inline-stack;
    display: inline-block;
    list-style: none;
    margin: 0;
    min-width: 230px;
    padding: 0;
    vertical-align: top;
    width: 100%;

    .person {
      margin: 0 10px 0 0;
      padding-bottom: 30px;

			&:last-child {
				margin-right: 0;
			}

      .person-inner {
        //border: 1px solid $is-alto;
      }

      .person-image-ctn {
        float: left;
        width: 120px;

        .person-image {
          //background: $is-gallery;
          overflow: hidden;

          img {
            border: 0;
            vertical-align: top;
            width: 100%;
						@include border-radius(100%);
          }

          .image-placeholder {
              background: $is-linkwater url(../images/theme/articles/person-default.jpg) top center no-repeat;
              display: block;
              min-height: 140px;
							@include border-radius(100%);
          }
        }
      }

      .person-info-ctn {
        margin-left: 120px;

        .person-info {
          padding: 20px;

          h3 {
            color: $is-mineshaft;
            font-size: 1.2em;
            margin: 0 0 0.3em 0;
          }

          p {
            font-size: 1.0em;
            line-height: 1.2;
            margin: 5px 0;
            padding: 0;
          }
        }
      }

      &.person-no-image {
				//background: $is-linkwater;
				//padding: 10px;
				//@include border-radius(3px);
				padding-bottom: 10px;

        .person-info-ctn {
          margin-left: 0;

					.person-info {
						padding: 0;
					}

        }
      }
    }
  }
}


.ie7 {
  ul.persons-list {
    li {
      display: inline;
      zoom: 1;
    }
  }
}
