.puff-box {
	background: url(../images//theme/bg/box-shadow-24.png) bottom center no-repeat;
	padding: 0 0 14px 0;
	position: relative;
	margin: 0;

  .puff-box-inner {
    background: $is-linkwater;
    border: 1px solid $is-linkwater;
    @include border-radius(6px);
    margin: 0;
    padding: 20px;
    position: relative;
  }

  h2 {
    color: $is-blue;
    font-size: 1.8em;
    font-weight: normal;
    margin: 0 0 10px 0;
    text-align: center;
  }

  .puff-box-content {
    margin-bottom: 10px;

    p {
      font-size: 1.2em;
      line-height: 1.5;
    }
  }

  .puff-box-link-wrap {
    margin: 0 auto;
    text-align: center;

    a {
      background: shade($is-blue, 20%) url(../images/theme/articles/puff-box-link-sprite.png) 0 0 repeat-x;
      @include border-radius(3px);
      color: $is-white;
      display: inline-block;
      font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
      font-size: 1.3em;
      padding: 10px 10px;
      text-decoration: none;

      &:hover {
        background-color: $is-blue;
        background-position: 0 -100px;
        text-decoration: none;
      }
    }

  }



}

///// Start here





.ie7 {
  .puff-box {
    .puff-box-link-wrap {
      a {
        display: inline;
        zoom: 1;
      }
    }
  }
}

// Puff Box Alternative 2 (green)
.puff-box-alt2 {

  .puff-box-inner {
    background: $is-frost;
  }

  h2 {
    color: $is-woodland;
  }

  .puff-box-link-wrap {
    a {
      background-color: $is-crete;
      background-position: 0 -200px;
      color: $is-white;

      &:hover {
        background-color: $is-apple;
        background-position: 0 -300px;
      }
    }
  }


}

// Puff Box Alternative 3 (yellow)
.puff-box-alt3 {

  .puff-box-inner {
    background: $is-half-spanishwhite;
  }

  h2 {
    color: $is-pirategold;
  }

  .puff-box-link-wrap {
    a {
      background-color: $is-buddhagold;
      background-position: 0 -400px;
      color: $is-horsesneck;

      &:hover {
        background-color: $is-corn;
        background-position: 0 -500px;
      }
    }
  }

}
