ul.rp-toolbar {
  background: $is-white url(../images/theme/toolbar/toolbar-bg.png) bottom left repeat-x;
  border: 1px solid $is-boticelli;
  @include border-radius(3px);
  @include box-shadow(0px 1px 4px 0px $is-silver);
	float: left;
	list-style: none;
	margin: 0 10px 0 0;
	padding: 0 3px;
	padding-right: 0px;
	position: relative;

  li {
    background: transparent url(../images/toolbar/toolbar-sep.png) 100% 50% no-repeat;
    display: block;
    float: left;
    margin: 0;
    background: none;
    border-right: 1px solid $is-alto;
    padding: 0;

    &:last-child,
    &.last {
      background: none;
      border-right: none;
    }

    a,
    & > span {
      color: $is-blue;
      display: block;
      float: left;
      font-size: 1.0em;
      font-weight: bold;
      padding: 6px 8px;
      text-decoration: none;
    }

    & > span {
      color: $is-boulder;
    }

    a {

      &:hover {
        background-color: $is-linkwater;
      }

      &.active {
        background-color: $is-blue;
        color: $is-white;
      }

    }


  }

}
