ul.rp-toolbar {
  background: $is-white;
  border: 1px solid shade($is-linkwater, 10);
  @include border-radius(3px);
	float: left;
	list-style: none;
	margin: 0 10px 0 0;
  padding: 0;
	position: relative;

  li {
    display: block;
    float: left;
    margin: 0;
    background: none;
    border-right: 1px solid shade($is-linkwater, 10);
    padding: 0;

    &:last-child,
    &.last {
      border-right: none;
    }

    a,
    & > span {
      color: $is-blue;
      display: block;
      float: left;
      font-size: 1.0em;
      font-weight: bold;
      padding: 6px 8px;
      text-decoration: none;
    }

    & > span {
      color: $is-boulder;
    }

    a {

      &:hover {
        background-color: $is-linkwater;
      }

      &.active {
        background-color: $is-blue;
        color: $is-white;
      }

    }


  }

}
