.rp-button {

  input[type="submit"],
  input[type="cancel"],
  input[type="button"] {
      background: $is-cloud url(../images/buttons/button-bg.png) 0 0 repeat-x;
      border: 1px solid $is-cloudy;
      @include border-radius(3px);
      color: $is-tundora;
      display: block;
      float: left;
      font-size: 13px;
      font-weight: normal;
      line-height: 1.0;
      margin-right: 10px;
      padding: 7px 20px;
      position: relative;
      text-align: center;
      text-shadow: none;
  }

  input[type="submit"] {
      background: $is-blue url(../images/buttons/button-bg-normal.png) 0 0 repeat-x;
      border: 1px solid $is-blue;
      color: $is-white;
  }

}

.btn.link-button-mod-1 {
    font-weight: bold;
}
