// Select To Dropdown (js plugin)

.select-to-dropdown-wrap {
    display: block;
    position: relative;
    z-index: 1;

  .select-to-dropdown-trigger {
      background: transparent url(../images/theme/icons/dropdown.png) right center no-repeat;
      cursor: pointer;
      display: block;
      height: 20px;
      line-height: 20px;
      padding-right: 25px;
  }

  .select-to-dropdown-list {
      background: $is-white;
      border: 1px solid shade($is-linkwater, 10);
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 35px;
      width: 200px;
      z-index: 498;
      @include border-radius(3px);

      li {
          background: transparent;
          border-bottom: 1px solid shade($is-linkwater, 10);
          display: block;
          padding: 0;

          span {
            background: $is-white;
            color: $is-blue;
            cursor: pointer;
            display: block;
            padding: 10px;
            //@include transition(all 0.3s ease-in-out);
          }

          &:hover,
          &.hover {
            span {
              background: $is-blue;
              color: $is-white;
            }
          }

          &:first-child,
          &.first {
            @include border-radius(3px 3px 0 0);
          }

          &:last-child,
          &.last {
              border-bottom: none;
              @include border-radius(0 0 3px 3px);
          }

      }

      &.select-to-dropdown-list-active {
        display: block;
      }


  }

}

.ie7 {
  .select-to-dropdown-list-active {
      zoom: 1;
  }
}

// Hide when js is avaiable to prevent content flashing
.js select.select-to-dropdown {
  display: none;
}
