.vgr-boxed-content {
  margin: 0 0 15px 0;

  > .hd {
      background: $is-blue url(../images/theme/portlet/portlet-hd-bg-2.png) top left repeat-x;
      border: 1px solid shade($is-blue, 30%);
      @include border-radius(6px 6px 0 0);
      @include box-shadow(0px 1px 4px 0px $is-silver);
      color: $is-white;
      font-size: 1.3em;
      font-weight: normal;
      margin: 0;
      padding: 7px 10px;
      position: relative;
  }

  > .bd {
      background: $is-white;
      border: 1px solid $is-alto;
      border-width: 0 1px 1px 1px;
      @include border-radius(0 0 6px 6px);
      @include box-shadow(0px 1px 4px 0px $is-silver);
      margin: 0;
      padding: 12px;
      position: relative;
  }



}
