.youtube-portlet {}

// When in portlet column only
.portlet-column-only {
  .youtube-portlet {

    .portlet-borderless-container {
      .portlet-body {

          background: $is-black;
          padding: 30px;

          @include small {
            overflow-x: hidden; //needed to make edgetoedge work
            margin-left: -9999px;
            padding-left: 9999px;
            margin-right: -9999px;
            padding-right: 9999px;
          }


        .swf-content {
          margin: 0 auto;
          text-align: center;
        }
      }
    }

  }
}
