#content {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: $content-padding-top;

  @include small {
    padding-left: 0;
    padding-right: 0;
  }

  // Node info (shown on Test and Stage)
  .alert-info {
    display: none;
  }

  // Remove margins from Kaleo Designer Portlet
  .container-fluid {
    .kaleo-designer-portlet {
      margin: 0;
    }
  }

}
