#banner {
  background: transparent;

  #heading {
    margin: 1.3em 0;
    padding: 0;
    @include pie-clearfix();

    .site-title {

      display: block;
      height: 41px;
      float: left;
      margin: 0;
      overflow: hidden;
      position: relative;
      width: 410px;

      a {

        background: transparent url(../images/theme/logo/logo-vgr-innovationsslussen.png) 0 -50px no-repeat;

        height: 24px;
        width: 203px;

        @include small {
          background-position: 0 0;

        }



        display: block;
        font-size: 0;
        height: 72px;
        text-indent: -9999em;
        width: 410px;

      }
    }

    .top-navigation {
      float: right;
      margin: 0;
      position: relative;
    }


  }

}
