#banner {
  background: transparent;

  #heading {
    margin: 1.3em 0;
    padding: 0;
    @include pie-clearfix();

    .site-title {

      display: block;
      height: 41px;
      float: left;
      margin: 0;
      overflow: hidden;
      position: relative;
      width: 203px;

      a {
        background: transparent url(../images/theme/logo/logo-vgr-innovationsslussen.png) 0 -50px no-repeat;
        display: block;
        font-size: 0;
        height: 24px;
        text-indent: -9999em;
        width: 203px;
      }

      @include small {
        width: 410px;

        a {
          background-position: 0 0;
          height: 72px;
          width: 410px;
        }
      }


    }

    .top-navigation {
      float: right;
      margin: 0;
      position: relative;
    }


  }

}
